/* 期权交易投资账单 */
.investmentBill {
    font-family: PingFangSC-Medium;
    line-height: 1;
}
.investmentBill .accountAnalysis {
    background-image: linear-gradient(0deg, #3E4255 0%, #21242E 100%);
    padding-top: 2.2rem;
}
.accountAnalysis .onlyAnalysis {
    padding: 0 1.5rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.onlyAnalysis .acount {
    font-size: 2rem;
    color: #FFFFFF;
    letter-spacing: 0;
}
.onlyAnalysis .time {
    opacity: 0.7;
    font-size: 1.2rem;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 1rem;
}
.allMoneyText {
    padding-top: 2rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}
.allMoneyNum {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.whiteLine {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
}
.allMoneyNum .moneyIcon{
    font-size: 1.8rem;
    letter-spacing: 0;
}
.allMoneyNum .realyNum{
    font-family: DIN-Medium;
    font-size: 3.4rem;
}
.assetsAndValue {
    display: flex;
    display: -webkit-flex;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
}
.moneyAssets, .agreementValue {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}
.assetsAndValue .verticalLine {
    width: 1px;
    height: 3.6rem;
    background-color: #fff;
    opacity: 0.1;
}
.assetsAndValue .agreementText {
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 0.7rem;
    opacity: 0.7;
}
.moneyAssets span, .agreementValue span{
    font-family: DIN-Medium;
    font-size: 1.6rem;
}
.yesterdayWrapper {
    padding: 0 1.5rem;
    background: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: -1rem;
}
.yesterdayWrapper .profitLossText {
    font-size: 1.4rem;
    color: #999;
    text-align: center;
    padding-top: 2.5rem;
}
.yesterdayWrapper .profitLossNum {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.yesterdayWrapper .profitLossNum span {
    font-family: DIN-Medium;
    font-size: 2.4rem;
}
.yesterdayWrapper .profitLossRatio {
    font-size: 1.6rem;
    color: #333;
    text-align: center;
    padding-top: 0.7rem;
}
.yesterdayWrapper .profitLossRatio span{
    font-family: DIN-Medium;
}
.yesterdayUl {
    padding-top: 2rem;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 1.5rem;
}
.yesterdayLi {
    display: flex;
    display: -webkit-flex;
    border-top: 1px solid #f0f0f0;
    line-height: 4rem;
    height: 4rem;
}
.yesterdayLi .pDesc {
    flex: 5;
    -webkit-flex: 5;
}
.yesterdayLi .pValue,  .yesterdayLi .pRatio{
    flex: 4;
    -webkit-flex: 4;
    text-align: right;
}
.wantToSee {
    padding: 1rem 0;
    background: #f0f0f0;
}
.wantToSee .seeTitleImg {
    position: relative;
    padding-bottom: 2rem;
    background: #fff;
}
.seeTitleImg p {
    position: absolute;
    z-index: 2;
    height: 2.4rem;
    line-height: 2.4rem;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.seeTitleImg img {
    height: 2.4rem;
}
.monthAndInvestment {
    padding: 0 1.5rem 2rem 1.5rem;
    background: #fff;
    display: flex;
    display: -webkit-flex;
}
.monthAndInvestment .centerMargin {
    width: 1.2rem;
}
.monthAndInvestment .monthlyBill, .monthAndInvestment .investmentAnalysis {
    flex: 1;
    -webkit-flex: 1;
    height: 6rem;
    border-radius: 5px;
    position: relative;
}
.monthAndInvestment .monthlyBill p, .monthAndInvestment .investmentAnalysis p {
    margin-left: 1.5rem;
    line-height: 6rem;
    font-size: 1.6rem;
    color: #333;
}
.monthAndInvestment .monthlyBill img, .monthAndInvestment .investmentAnalysis img {
    position: absolute;
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0;
}
.monthAndInvestment .monthlyBill {
    background-image: linear-gradient(90deg, #FFF5F5 0%, #FFDAD6 100%);
    border-left: 4px solid #FE6859;
}
.monthAndInvestment .investmentAnalysis { 
    background-image: linear-gradient(90deg, #FFF9F1 1%, #FFE6C3 100%);
    border-left: 4px solid #FFAC37;
}
.investmentOptimize {
    padding: 2.5rem 1.5rem 0 1.5rem;
}
.optimizeHeader h3 {
    font-size: 2.0rem;
    color: #333;
    margin-bottom: 1rem;
}
.optimizeHeader p {
    font-size: 1.3rem;
    color: #999;
    margin-bottom: 1.5rem;
    letter-spacing: -0.3px;
}
.optimizeUl .optimizeLi {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items:center;
}
.optimizeHeaderLi {
    background: #f0f0f0;
    height: 3.6rem;
    font-size: 1.2rem;
    color: #333;
}
.optimizeLi .haveSubscribeProduct {
    flex: 2;
    -webkit-flex: 2;
    text-indent: 1rem;
}
.optimizeLi .maturityDate {
    flex: 1;
    -webkit-flex: 1;
}
.optimizeLi .detail {
    flex: 1;
    -webkit-flex: 1;
    text-align: right;
    margin-right: 1rem;
}
.optimizeBodyLi {
    height: 5rem;
    border-bottom: 1px solid #f0f0f0;
}
.optimizeBodyLi .haveSubscribeProduct {
    font-size: 1.4rem;
    color: #333;
    font-family: PingFangSC-Medium;
}
.optimizeBodyLi .maturityDate {
    font-size: 1.2rem;
    font-family: PingFangSC-Regular;
}
.optimizeBodyLi .detail {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.optimizeBodyLi .viewTextDetail {
    font-size: 1.2rem;
    color: #FE6859;
    margin-right: 0.4rem;
}
.optimizeBodyLi .detail img {
    width: 0.4rem;
    height: 0.8rem;
}
.optimizeBodyLi .maturityDate .haveOverDue {
    width: 4rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    margin-top: 0.3rem;
    font-size: 1.1rem;
    color: #999;
}
.optimizeBodyLi .againSubscribe {
    font-size: 1.2rem;
    color: #FE6859;
    width: 6.8rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 1.2rem;
    border: 1px solid #FE6859;
}
.investmentOptimize .moreProduct {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -ms-align-items:center;
    -o-align-items:center;
    align-items:center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    height: 4rem;
    line-height: 4rem;
}
.investmentOptimize .moreProduct span {
    font-size: 1.4rem;
    color: #999;
    margin-right: 0.4rem;
}
.investmentOptimize .moreProduct img {
    width: 0.4rem;
    height: 0.8rem;
}
.footerWrapper .instructions {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.2rem;
    color: #999;
    text-align: center;
    background: #f0f0f0;
}
.noSubscribe .noContentImg {
    display: block;
    width: 19rem;
    height: 13rem;
    margin-left: auto;
    margin-right: auto;
}
.noSubscribe .noHaveRecord {
    font-size: 1.4rem;
    color: #999;
    text-align: center;
}
.noSubscribe .immediatelySubscribe {
    background: #FE6859;
    box-shadow: 0 3px 5px 0 rgba(254,104,89,0.40);
    border-radius: 5px;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}